@font-face {
    font-family: "Inknut-Antiqua";
    src: url(../font/inknut-antiqua/InknutAntiqua-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: "Inknut-Antiqua";
    src: url(../font/inknut-antiqua/InknutAntiqua-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Inknut-Antiqua";
    src: url(../font/inknut-antiqua/InknutAntiqua-Bold.ttf);
    font-weight: bold;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: white;
    font-family: "Inknut-Antiqua";
}
.navBar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 2222;
    align-items: center;
    background: linear-gradient(90deg, rgba(161,166,209,1) 0%, rgba(160,157,200,1) 18%, rgba(163,157,201,1) 36%, rgba(159,164,209,1) 100%);;
    position: sticky;
    width: 100%;
    padding: 20px 80px 20px 80px;
    justify-content: space-between;
}
.logo > img {
    width: 120px;
    height: 40px;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}
.links > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.links > a:hover {
    color: black;
}
.menu {
    display: none;
}
.header {
    position: relative;
    height: 550px;
    background: linear-gradient(180deg, rgba(159,163,208,1) 0%, rgba(161,168,210,1) 33%, rgba(177,178,208,1) 67%, rgba(183,183,209,1) 100%);
    flex-direction: row;
}
.bigBg {
    position: absolute;
    width: 485px;
    height: auto;
}
.header h1 {
    font-size: 47px;
    color: white;
}
.title {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}
.philosophy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.left {
    width: 36%;
}
.text {
    padding: 0px 40px 40px 30px;
}
.philosophy .left {
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    gap: 20px;
    flex-direction: column;
}
.right {
    width: 60%;
}
.philosophy .right {
    height: auto;
}
.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.hod .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-top: 100px;
    gap: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.contact h2 {
    color: #A2A5D0;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.iconText {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26px;
}
.iconText img {
    width: 30px;
    height: auto;
}
.iconText p {
    line-height: 1.5;
}
.qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 150px;
}
.qrcode img {
    width: 30%;
    height: auto;
}
.joinSchool {
    display: flex;
    background: url(../images/school.jpg);
    width: 88vw;
    height: 500px;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 150px;
}
.content {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    gap: 20px;
    text-align: center;
}
.content > h2 {
    width: 80%;
}
.content > a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 0px 40px 0px 40px;
}
footer {
    background-color: rgba(159,164,209,1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px 80px 20px 80px;
    margin-top: 50px;
}

@media screen and (max-width: 720px) {
    .navBar {
        padding: 10px 40px 10px 40px;
    }
    .links {
        position: absolute;
        display: none;
        flex-direction: column;
        right: 0px;
        top: 80px;
        background-color: white;
        color: rgba(159,164,209,1);
        justify-content: center;
        padding: 15px;
        width: max-content;
        gap: 10px;
    }
    .links > a {
        color: rgba(159,164,209,1);
    }
    .links > a:hover {
        color: black;
        text-decoration: underline var(--primary);
    }
    .menu {
        display: flex;
    }
    .menu > img {
        width: 30px;
        height: 20px;
    }
    .menu:hover ~ .links {
        display: flex;
    }
    .header {
        background-image: url("../images/pexels-pavel-danilyuk-8442887.jpg");
        display: flex;
        background-size: cover;
        height: 700px;
        align-items: end;
        width: 100%;
        padding-left: 40px;
        background-attachment: fixed;
    }
    .header h1 {
        line-height: 1.0;
    }
    .bigBg {
        display: none;
    }
    .philosophy {
        flex-direction: column;
    }
    .section {
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
    }
    .joinSchool {
        height: 650px;
        line-height: 1.5;
    }
}